<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f4f7f8;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(135, 181, 255);
  color: white;
}

<style>
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 50px auto; /*moves location of form down*/
  padding: 30px auto;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 0px 0px;
  text-align: center;
}

input[type="text"],
input[type="sex"],
input[type="date"],
input[type="datetime"],
input[type="ec_id"],
input[type="a_id"],
input[type="DOB"],
input[type="LangDom"],
input[type="ethnicity"],
input[type="age"],
input[type = "Depression"],
input[type = "rns"],
input[type = "medication"],
input[type = "prev_resection"]
textarea,

select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 12px;
  height: 10px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: rgb(135, 181, 255);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 30%;
  border: 1px solid rgb(135, 181, 255);
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgb(135, 181, 255) inset;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 0px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}


table {
  border-collapse: separate;
  border-spacing: 10px 0;
  font-size: .8em;
}

td {
  padding: 0px;
}

tr { 
  border-bottom: 1px solid #555;
}


@media screen and (min-width: 600px) {
  form {
    max-width: 800px;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #FFF;
}
section {
  padding: 0 20px;
}
#toggle:checked ~ #expand {
  height: 250px;
}
#toggle:checked ~ label::before {
}

.boxhead a {
    color: #FFFFFF;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/**,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}html,body{height:100vh;}body{display:flex;align-items:center;justify-content:center;padding:40px;font:14px/1.5 'Open Sans',sans-serif;color:#345;background:#f0f2f4;}*/

main {
  max-width: 800px;
  padding: 40px;
  border: 1px solid rgba(0,0,0,.2);
  background: #f4f7f8;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16c'; }
label[for*='4']:before { content: '\f171'; }

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}

</style>








<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">Search Database</a>
  <a href="#contact">Database Summary</a>
  <a href="#about">Help</a>
</div>

    <h1>Add Patient</h1>
    
  <form id="formAddUser" name="adduser" method="post" action="/adduser">
    <main>

  <input style = "display: none" id="tab1" type="radio" name="tabs" checked>
  <label  for="tab1">Demographics</label>

  <input style = "display: none" id="tab2" type="radio" name="tabs">
  <label for="tab2">Imaging</label>

  <input style = "display: none" id="tab3" type="radio" name="tabs">
  <label for="tab3">Medication</label>

  <input style = "display: none" id="tab4" type="radio" name="tabs">
  <label for="tab4">Psychiatric</label>

  <section id="content1">

  <fieldset>
<!--     <legend><span ></span> Demogrpahics:
    add line under title
    <hr style="border: 2px solid rgb(135, 181, 255);" /></legend> -->
<table>
<tr> 
    <td><label style = "padding: 15px 0px" for="ec_id">EC ID:</label>
    <input id="inputUserName" type="text" placeholder="ec_id" name="ec_id" ></td>
    <td><label style = "padding: 15px 0px" for="a_id">A ID:</label>
    <input id="inputUserName" type="text" placeholder="a_id" name="a_id" ></td>
    <td><label style = "padding: 15px 0px" for="visit_date">Visit Date:</label>
    <input type="date" name="visit_date"></td>
</tr>
</table>

<table>
<tr>
  <td><label style = "padding: 15px 0px" for="DOB">Date of Birth:</label>
    <input type="date" name="DOB"></td>
    <td><label style = "padding: 15px 0px" for="sex">Sex</label>
      <select style = "margin-right: 0" id="sex" name="sex">
              <option value="female">F</option>
              <option value="male">M</option></td>

    <td><label style = "padding: 15px 0px" for="ethnicity">Ethnicity:</label>
    <input type="ethnicity" id="ethnicity" name="ethnicity"></td>
    <td><label style = "padding: 15px 0px" for="native_language">Native Language:</label>
      <input type="text" name="native_language"></td>
</tr>
</table>



    </section>
 
  </div></span>
    <button id="btnSubmit" type="submit">Quick Add</button>

    <button> <a style = "color: #FFF; text-decoration: none;" href=all_patients> Cancel </a> </button> 
 </form>
 </main>








  