<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="adduser" method="post" action="/adduser">
      <input id="inputUserName" type="text" placeholder="master_id" name="master_id" />
      <input id="inputUserEmail" type="text" placeholder="mrn" name="mrn" />
      <button id="btnSubmit" type="submit">Submit</button>

    </form>
  </body>
</html>
